.container-parent-class{
    display: flex;
    margin-left: 0.5rem;
   
    .container-headline-user{
      margin: 0;
      p{
        
        color: #B8B9C9;
        font-size: 13px;
        text-transform: lowercase;
      }
      h3{
        color: #383874;
        font-weight: 520;
      }
     }
}
.Topsearch-main-class{
   width: 100%;
   position: relative; 
   margin-top: 1.5em;
   height: 10vh;
  
  
   
  .Topsearch-grid-one-main{
      display: flex;
      width: 25%;
      padding: 3px;
      justify-content: space-between;
      align-items: center;
    font-size: 13px;
    color: gray;
      .Topsearch-grid-one-child{
          padding: 5px;
          width: 50%;
          display: flex;
          font-weight: 600;
          align-items: center;
 
          border-radius: 5px;
          justify-content: space-around;
          background-color: #F8F9FB;
            
      }
  } 
  .Topsearch-grid-two-child{
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 2rem;
  }
 
 
}
.active{
  background-color: #8676FF;
 .bottom-options-cards{
   color: white;
 } 
}
.deactive{
  background-color: white;
  .bottom-options-cards{
    color: #8B7CFF;
  } 
  .bottom-options-cards-icon{
    color:#383874 ;
  }
}
.bottom-table-main{
  .table-header{
    color:gray;
  }
  div{
    line-height: 0.5;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    
   
  }
  span{
    color: #383874;
    font-size: 14px;
    font-weight: 700;
    font-family: "Open Sans" sans-serif;
  }
  p{
    color: #CACBD8;
    font-size: 12px;
    font-weight: 600;
    font-family: "Open Sans" sans-serif;

  }
}
